html,
body {
    padding: 0;
    margin: 0;
}

.header {
    background-image: url(Images/background1.png);
    background-size: cover;
    width: 100%;
    height: 787px;
    display: flex;
    justify-content: center;
}

.header p {
    position:absolute;
    padding-top:50%;
    color: white;
    font-size: 25px;
}

.laptop {
    position: absolute;
    padding-top: 270px;
}

.laptop a{
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 10px 40px;
    box-shadow: inset 0 -5px 0 gray;
}

.laptop a:hover {
    color: black;
    box-shadow: inset 0 -60px 0 gray, 2px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.7s ease-in-out
}

.images {
    width: 50%;
    height: 70%;
    margin: 80px;
}

.main{
    background-image: url(Images/background2.png);
    background-size: cover;
    width: 100%;
    height: 787px;
    display: inline-block;
    justify-content: center;
}

.main .main_images2 {
    position: grid;
    float: right;
}

.main .main_images {
    margin-top: 50px;
    margin-left: 100px;
    width: 220px;
    height: 220px;
}

.txt {
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 50px;
}

.txt h1 {
    font-size: 55px;
}

.txt p{
    font-weight: 700;
}

.txt span p{
    margin-top: 40px;
}

/* media запросы */

@media screen and (min-width: 1681px) and (max-width: 1920px){
    .header{
        width: 100%;
    }
    .header p{
        padding-top: 40%;
    }
}

@media screen and(min-width: 1441px) and (max-width: 1680px){
    .header p{
        padding-top: 27%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px){
    .header p{
        padding-top: 60%;
        position: absolute;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .header p{
        padding-top: 70%;
        position: absolute;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header p{
        padding-top: 95%;
        position: absolute;
    }

    .images {
        width: 600px;
        height: 500px;
        padding-top: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .header p{
        padding-top: 150%;
        position: absolute;
    }

    .images {
        width: 400px;
        height: 400px;
        padding-top: 100px;
    }

    .main .main_images{
        margin-left: 135px;
    }

    .txt h1 {
        font-size: 35px;
        margin-left: 35px;
    }

    .txt {
        padding-left: 100px;
        padding-right: 50px;
        padding-top: 20px;
    }

    .txt .main_images2 {
        position: absolute;
        top: 1445px;
        left: 190px;
    }

    .txt p{
        font-weight: 700;
        margin-left: 70px;
    }
    
    .txt span p{
        margin-top: 40px;
        margin-left: 70px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .header p{
        padding-top: 220%;
        position: absolute;
    }

    .images {
        width: 300px;
        height: 300px;
        padding-top: 100px;
    }

    .laptop a{
        padding: 10px 40px;
        font-size: 20px;
        position: absolute;
        top: 220px;
        right: -60px;
        
    }

    .txt h1 {
        font-size: 25px;
        margin-left: 25px;
    }

    .txt {
        padding-left: 60px;
        padding-right: 50px;
        padding-top: 20px;
    }

    .main .main_images {
        width: 120px;
        height: 100px;
    }

    .txt .main_images2 {
        position: absolute;
        top: 1375px;
        left: 120px;
        width: 100px;
        height: 100px;
    }

    .txt p{
        font-weight: 700;
        margin-left: 30px;
    }
    
    .txt span p{
        margin-top: 30px;
        margin-left: 30px;
    }
}



